 
    body{
        padding-top: 60px;
        padding-left: 50px;
        padding-bottom: 0px;

        color: #FCC55D;
        background-color: #FCC55D;
    }
    #myCanvas{
        background-color:#8CAEED ;
        border: none;
        border-radius: 10px;
    }


    .container-save{
/*         margin-top: 50px;
*/         position:center;

    }
/*    #project-tabs{
        padding-left:20;
    }*/

    #maincanvas{
      
        background-color:#FFFFFF;
    }
    .content{
        padding:20px;
        }
      
        background-color:#FFFFFF;
    }


    /*style result box*/ 
    #result{
        border-style:solid;
        border-color:#000000;
        border-width: 2px ;
        
    }
   .singlebutton{
    position:fixed;
   }


    